html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

a {
  padding: 5px;
  color: white;
}

a:hover {
  color: orange;
}

header {
  display: flex;
  background-color: black;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  border: 2px solid rgb(73, 42, 13);
  border-radius: 5px;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 20px;
  height: 5vh;
  width: 20vw;
  margin: 3px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  max-height: 500px;
}

.main-index {
  flex: 1;
  background-image: url(./images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/bg3.jpg);
  background-size: contain;
  background-attachment: fixed;
  overflow: visible;
  margin-top: 90px;
  margin-bottom: 50px;
}

.menu-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 3px solid;
  border-radius: 10px;
}

.main-about {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-contact {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  height: 20vh;
  width: 20vw;
}

.submit-button {
  width: 25%;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: orange;
  cursor: pointer;
}

.logo {
  width: 50%;
}

.image {
  width: 50%;
  height: auto;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
